# Archivos de sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Entornos virtuales
env/
venv/
.venv/

# Notebooks temporales
*.nbconvert.ipynb
.ipynb_checkpoints/

# VS Code
.vscode/

# Archivos de configuración sensibles
.env
*.env

# Archivos grandes o sensibles
*.csv
*.xlsx
*.zip
*.bak
*.pkl
*.db
*.log
*.tmp

# Específicos de tu proyecto
app/models/basket.pkl